<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>325558061666-pspmk1otga0f4hlkhqotti6k26ohq29s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.325558061666-pspmk1otga0f4hlkhqotti6k26ohq29s</string>
	<key>API_KEY</key>
	<string>AIzaSyDt-blVx59HDv8mW7p2vGGIxtEqhf9u3oU</string>
	<key>GCM_SENDER_ID</key>
	<string>325558061666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.safetyPin</string>
	<key>PROJECT_ID</key>
	<string>safty-pin</string>
	<key>STORAGE_BUCKET</key>
	<string>safty-pin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325558061666:ios:cbc1405f983dfcce3d9f3b</string>
</dict>
</plist>